In [45]:
l = list(range(100,2000))

In [46]:
l2 = l[:]

In [47]:
l.append("Test")

In [48]:
l2[-1]

1999

In [63]:
s = "This should have been a snow day!\n"
s = s.rstrip("\n")
sl = s.split(" ")
#sl[-2]
sl

['This', 'should', 'have', 'been', 'a', 'snow', 'day!']

In [72]:
sl2 = sl[:-2] + ["sunny"] + sl[-1:]
"  ".join(sl2)

'This  should  have  been  a  sunny  day!'

In [54]:
list(s)

['T',
 'h',
 'i',
 's',
 ' ',
 's',
 'h',
 'o',
 'u',
 'l',
 'd',
 ' ',
 'h',
 'a',
 'v',
 'e',
 ' ',
 'b',
 'e',
 'e',
 'n',
 ' ',
 'a',
 ' ',
 's',
 'n',
 'o',
 'w',
 ' ',
 'd',
 'a',
 'y',
 '!']

In [74]:
for i in range(40):
    if i%3==0:
        print(i, "is divisible by 3")
    elif i%2==0:
        print(i, "is divisible by 2, but not divisible by 3")
    else:
        print(i, "is NOT divisible by 2 or 3")

0 is divisible by 3
1 is NOT divisible by 2 or 3
2 is divisible by 2, but not divisible by 3
3 is divisible by 3
4 is divisible by 2, but not divisible by 3
5 is NOT divisible by 2 or 3
6 is divisible by 3
7 is NOT divisible by 2 or 3
8 is divisible by 2, but not divisible by 3
9 is divisible by 3
10 is divisible by 2, but not divisible by 3
11 is NOT divisible by 2 or 3
12 is divisible by 3
13 is NOT divisible by 2 or 3
14 is divisible by 2, but not divisible by 3
15 is divisible by 3
16 is divisible by 2, but not divisible by 3
17 is NOT divisible by 2 or 3
18 is divisible by 3
19 is NOT divisible by 2 or 3
20 is divisible by 2, but not divisible by 3
21 is divisible by 3
22 is divisible by 2, but not divisible by 3
23 is NOT divisible by 2 or 3
24 is divisible by 3
25 is NOT divisible by 2 or 3
26 is divisible by 2, but not divisible by 3
27 is divisible by 3
28 is divisible by 2, but not divisible by 3
29 is NOT divisible by 2 or 3
30 is divisible by 3
31 is NOT divisible by 2 or 3
32 is divisible by 2, but not divisible by 3
33 is divisible by 3
34 is divisible by 2, but not divisible by 3
35 is NOT divisible by 2 or 3
36 is divisible by 3
37 is NOT divisible by 2 or 3
38 is divisible by 2, but not divisible by 3
39 is divisible by 3

In [80]:
i = 1
counter=0
while counter<1000:
    if i%27==0:
        counter+=1
    i+=1
print(i)

27001

In [83]:
d={1:"one", 2:"two", 3:"three"}
for k,v in d.items():
    print(k,v)

1 one
2 two
3 three

In [85]:
l=list(d.values())
l

['one', 'two', 'three']

In [86]:
for i,x in enumerate(l):
    print(i,x)

0 one
1 two
2 three