In [1]:
import pandas as pd

# Cities

In [16]:
df = pd.read_csv("cities.tsv", sep="\t", header=0, index_col=0)
df

           Population  Elevation  Latitude  Longitude
City
Phoenix       1633000       1086   33.4484  -112.0740
Flagstaff       74402       6909   35.1983  -111.6513
St. Louis      308174        466   38.6270   -90.1994
Tulsa          402324        722   36.1540   -95.9928

In [19]:
df["Latitude"]

City
Phoenix      33.4484
Flagstaff    35.1983
St. Louis    38.6270
Tulsa        36.1540
Name: Latitude, dtype: float64

In [20]:
df.Latitude

City
Phoenix      33.4484
Flagstaff    35.1983
St. Louis    38.6270
Tulsa        36.1540
Name: Latitude, dtype: float64

In [21]:
df.loc["Tulsa"]

Population    402324.0000
Elevation        722.0000
Latitude          36.1540
Longitude        -95.9928
Name: Tulsa, dtype: float64

In [24]:
df.iloc[-1]

Population    402324.0000
Elevation        722.0000
Latitude          36.1540
Longitude        -95.9928
Name: Tulsa, dtype: float64

In [25]:
df["Latitude"]["Flagstaff"]

np.float64(35.1983)

In [26]:
df.loc["Flagstaff"]["Latitude"]

np.float64(35.1983)

# Demo data

In [34]:
df2 = pd.read_csv("demoData.tsv", sep="\t", header=0, index_col=0)
len(df2) # of rows
len(df2.columns)  # of columns
df2.shape # Tuple with Num rows and columns
df2.size # Product of number of rows and columns

4176

In [37]:
df2.head(10)

,BB001_A,BB001_B,BB003_A,BB003_B,BB004_A,BB004_B,BB005_A,BB005_B,BB006_A,BB006_B,...,BufferOnly_A,BufferOnly_B,BufferOnly_C,BufferOnly_D,BufferOnly_E,BufferOnly_F,BufferOnly_G,BufferOnly_H,BufferOnly_I,BufferOnly_J
Probe,,,,,,,,,,,,,,,,,,,,,
NS30_000000,8828,628,15628,7371,5663,2463,5244,6377,19985,19310,...,73,23,49,17,109,75,54,44,195,498
NS30_000001,120,24,0,0,10,2,3,3,1,1,...,2,0,4,1,2,3,1,3,11,25
NS30_000002,137,36,2029,886,861,340,2559,2861,2068,2195,...,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,3,0,0,0,5,2,3,2,5,2,...,2,0,0,0,4,6,5,6,10,17
NS30_000004,8,10,571,380,136,35,2028,2762,19,10,...,64,14,74,37,126,100,111,103,130,239
NS30_000005,90,49,569,250,19,3,85,79,59,88,...,42,19,76,32,114,122,186,101,404,177
NS30_000006,270,123,3181,1872,252,48,246,265,111,84,...,305,74,321,166,469,462,483,713,793,896
NS30_000007,213,11,37,23,179,50,53,72,5,9,...,63,10,80,32,109,109,114,133,183,258
NS30_000008,1449,233,586,215,400,104,153,164,79,53,...,120,60,159,76,217,216,207,325,430,529
NS30_000009,65,17,75,40,55,21,112,108,38,45,...,196,46,146,94,329,415,484,370,900,1015

In [38]:
newLabels = ["CodeName", "BB001_A", "BB001_B", "BB003_A", "BB003_B", "BB004_A", "BB004_B", "BB005_A", "BB005_B", "BB006_A", "BB006_B", "BB007_A", "BB007_B", "BB008_A", "BB008_B", "BB009_A", "BB009_B", "BB010_A", "BB010_B", "BB012_A", "BB012_B", "BB013_A", "BB013_B", "BB015_A", "BB015_B", "BB017_A", "BB017_B", "BB018_A", "BB018_B", "BB019_A", "BB019_B", "BB020_A", "BB020_B", "BB401_A", "BB401_B", "BB402_A", "BB402_B", "BB403_A", "BB403_B", "BB404_A", "BB404_B", "BB405_A", "BB405_B", "BB406_A", "BB406_B", "BB407_A", "BB407_B", "BB408_A", "BB408_B", "BB409_A", "BB409_B", "BB410_A", "BB410_B", "BB411_A", "BB411_B", "BB412_A", "BB412_B", "BB413_A", "BB413_B", "BB414_A", "BB414_B", "BB415_A", "BB415_B", "Neg_A", "Neg_B", "Neg_C", "Neg_D", "Neg_E", "Neg_F", "Neg_G", "Neg_H", "Neg_I", "Neg_J"]
df3 = pd.read_csv("demoData.tsv", sep="\t", header=0, index_col=0, names=newLabels)

In [44]:
df4 = pd.DataFrame()

for colname in df3:
    if colname.startswith("Neg"):
        df4[colname] = df3[colname]

df4

,Neg_A,Neg_B,Neg_C,Neg_D,Neg_E,Neg_F,Neg_G,Neg_H,Neg_I,Neg_J
CodeName,,,,,,,,,,
NS30_000000,73,23,49,17,109,75,54,44,195,498
NS30_000001,2,0,4,1,2,3,1,3,11,25
NS30_000002,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,2,0,0,0,4,6,5,6,10,17
NS30_000004,64,14,74,37,126,100,111,103,130,239
NS30_000005,42,19,76,32,114,122,186,101,404,177
NS30_000006,305,74,321,166,469,462,483,713,793,896
NS30_000007,63,10,80,32,109,109,114,133,183,258
NS30_000008,120,60,159,76,217,216,207,325,430,529
NS30_000009,196,46,146,94,329,415,484,370,900,1015
NS30_000010,225,21,221,124,377,393,424,367,692,1030
NS30_000011,93,26,86,46,138,166,114,196,227,287
NS30_000012,3,1,1,2,4,3,2,3,7,33
NS30_000013,12,0,7,1,12,13,8,9,83,76
NS30_000014,27,13,66,33,94,89,76,112,175,164
NS30_000015,27,7,22,13,61,71,118,43,192,203
NS30_000016,6,4,19,4,19,14,12,12,25,37
NS30_000017,16,3,18,8,24,23,26,29,40,52
NS30_000018,19,8,35,9,23,31,44,43,81,77
NS30_000019,84,20,102,37,111,110,112,147,143,205
NS30_000020,7,5,9,7,12,15,9,34,23,34
NS30_000021,179,29,167,86,247,334,269,307,558,613
NS30_000022,10,3,22,6,19,33,37,25,36,51
NS30_000023,22,3,2,1,17,13,15,9,36,23
NS30_000024,12,14,11,9,23,21,32,24,85,94
NS30_000025,6,0,7,1,1,3,6,13,19,21
NS30_000026,38,37,123,51,92,108,118,175,214,276
NS30_000027,64,13,79,27,141,100,129,116,241,245
NS30_000028,2,0,15,4,4,14,17,9,23,35
NS30_000029,8,2,7,2,12,25,10,19,19,26
NS30_000030,149,39,126,57,268,253,265,237,499,447
NS30_000031,6,0,7,3,12,5,7,9,24,18
NS30_000032,7,5,6,3,15,6,16,8,13,5
NS30_000033,18,4,35,13,54,52,45,67,97,47
NS30_000034,10,0,8,6,16,20,17,14,27,17
NS30_000035,4,0,0,3,17,17,8,13,8,6
NS30_000036,12,6,12,5,10,11,29,32,28,85
NS30_000037,61,6,26,20,74,92,114,58,313,177
NS30_000038,8,3,3,1,9,14,10,13,20,30
NS30_000039,176,35,117,50,268,287,241,240,424,491
NS30_000040,29,2,51,44,85,87,91,120,122,138
NS30_000041,25,6,34,23,72,64,24,72,73,65
NS30_000042,6,0,12,8,20,10,13,23,14,18
NS30_000043,5,0,8,3,6,1,9,7,17,0
NS30_000044,42,19,46,15,77,68,80,80,196,145
NS30_000045,5,0,4,1,6,10,18,8,9,4
NS30_000046,25,1,42,10,49,72,87,54,224,229
NS30_000047,34,8,14,15,28,28,39,62,80,53
NS30_000048,28,14,37,10,43,43,45,57,90,20
NS30_000049,3,10,12,4,25,15,15,20,18,42
NS30_000050,10,1,15,5,23,13,19,22,43,25
NS30_000051,19,1,22,12,31,22,22,31,68,102
NS30_000052,8,2,9,11,15,22,22,19,54,12
NS30_000053,18,10,37,12,57,64,110,52,190,157
NS30_000054,231,42,281,91,340,346,364,408,751,778
NS30_000055,4,0,13,3,9,6,6,12,21,27
NS30_000056,24,2,5,13,41,34,39,40,41,75
NS30_000057,84,8,136,42,261,211,193,203,373,524

In [47]:
negNames = [name for name in df3 if name.startswith("Neg")]
df5 = df3[negNames]
df5

,Neg_A,Neg_B,Neg_C,Neg_D,Neg_E,Neg_F,Neg_G,Neg_H,Neg_I,Neg_J
CodeName,,,,,,,,,,
NS30_000000,73,23,49,17,109,75,54,44,195,498
NS30_000001,2,0,4,1,2,3,1,3,11,25
NS30_000002,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,2,0,0,0,4,6,5,6,10,17
NS30_000004,64,14,74,37,126,100,111,103,130,239
NS30_000005,42,19,76,32,114,122,186,101,404,177
NS30_000006,305,74,321,166,469,462,483,713,793,896
NS30_000007,63,10,80,32,109,109,114,133,183,258
NS30_000008,120,60,159,76,217,216,207,325,430,529
NS30_000009,196,46,146,94,329,415,484,370,900,1015
NS30_000010,225,21,221,124,377,393,424,367,692,1030
NS30_000011,93,26,86,46,138,166,114,196,227,287
NS30_000012,3,1,1,2,4,3,2,3,7,33
NS30_000013,12,0,7,1,12,13,8,9,83,76
NS30_000014,27,13,66,33,94,89,76,112,175,164
NS30_000015,27,7,22,13,61,71,118,43,192,203
NS30_000016,6,4,19,4,19,14,12,12,25,37
NS30_000017,16,3,18,8,24,23,26,29,40,52
NS30_000018,19,8,35,9,23,31,44,43,81,77
NS30_000019,84,20,102,37,111,110,112,147,143,205
NS30_000020,7,5,9,7,12,15,9,34,23,34
NS30_000021,179,29,167,86,247,334,269,307,558,613
NS30_000022,10,3,22,6,19,33,37,25,36,51
NS30_000023,22,3,2,1,17,13,15,9,36,23
NS30_000024,12,14,11,9,23,21,32,24,85,94
NS30_000025,6,0,7,1,1,3,6,13,19,21
NS30_000026,38,37,123,51,92,108,118,175,214,276
NS30_000027,64,13,79,27,141,100,129,116,241,245
NS30_000028,2,0,15,4,4,14,17,9,23,35
NS30_000029,8,2,7,2,12,25,10,19,19,26
NS30_000030,149,39,126,57,268,253,265,237,499,447
NS30_000031,6,0,7,3,12,5,7,9,24,18
NS30_000032,7,5,6,3,15,6,16,8,13,5
NS30_000033,18,4,35,13,54,52,45,67,97,47
NS30_000034,10,0,8,6,16,20,17,14,27,17
NS30_000035,4,0,0,3,17,17,8,13,8,6
NS30_000036,12,6,12,5,10,11,29,32,28,85
NS30_000037,61,6,26,20,74,92,114,58,313,177
NS30_000038,8,3,3,1,9,14,10,13,20,30
NS30_000039,176,35,117,50,268,287,241,240,424,491
NS30_000040,29,2,51,44,85,87,91,120,122,138
NS30_000041,25,6,34,23,72,64,24,72,73,65
NS30_000042,6,0,12,8,20,10,13,23,14,18
NS30_000043,5,0,8,3,6,1,9,7,17,0
NS30_000044,42,19,46,15,77,68,80,80,196,145
NS30_000045,5,0,4,1,6,10,18,8,9,4
NS30_000046,25,1,42,10,49,72,87,54,224,229
NS30_000047,34,8,14,15,28,28,39,62,80,53
NS30_000048,28,14,37,10,43,43,45,57,90,20
NS30_000049,3,10,12,4,25,15,15,20,18,42
NS30_000050,10,1,15,5,23,13,19,22,43,25
NS30_000051,19,1,22,12,31,22,22,31,68,102
NS30_000052,8,2,9,11,15,22,22,19,54,12
NS30_000053,18,10,37,12,57,64,110,52,190,157
NS30_000054,231,42,281,91,340,346,364,408,751,778
NS30_000055,4,0,13,3,9,6,6,12,21,27
NS30_000056,24,2,5,13,41,34,39,40,41,75
NS30_000057,84,8,136,42,261,211,193,203,373,524

In [53]:
sumOver1000=[]
for i, row in df5.iterrows():
    if sum(row)>1000:
        sumOver1000.append(i)

sumOver1000

['NS30_000000',
 'NS30_000002',
 'NS30_000005',
 'NS30_000006',
 'NS30_000007',
 'NS30_000008',
 'NS30_000009',
 'NS30_000010',
 'NS30_000011',
 'NS30_000019',
 'NS30_000021',
 'NS30_000026',
 'NS30_000027',
 'NS30_000030',
 'NS30_000039',
 'NS30_000054',
 'NS30_000057']

In [56]:
df3.sum(axis=1)

CodeName
NS30_000000    692356
NS30_000001     10117
NS30_000002    266832
NS30_000003      2613
NS30_000004     84208
NS30_000005     11373
NS30_000006     44592
NS30_000007     60604
NS30_000008     41111
NS30_000009     12420
NS30_000010     13015
NS30_000011      7566
NS30_000012     21709
NS30_000013     78408
NS30_000014     47336
NS30_000015      4561
NS30_000016      8957
NS30_000017     52829
NS30_000018     12712
NS30_000019    308756
NS30_000020    172566
NS30_000021     45020
NS30_000022     76158
NS30_000023     15483
NS30_000024    138865
NS30_000025      3499
NS30_000026    153019
NS30_000027      9729
NS30_000028      9609
NS30_000029     18043
NS30_000030     46683
NS30_000031      6029
NS30_000032     36207
NS30_000033     26481
NS30_000034     11334
NS30_000035      1043
NS30_000036    205487
NS30_000037     59745
NS30_000038     84688
NS30_000039     11829
NS30_000040     26106
NS30_000041      5815
NS30_000042      6624
NS30_000043      3105
NS30_000044     14303
NS30_000045      1531
NS30_000046      4295
NS30_000047      2965
NS30_000048     58087
NS30_000049    136820
NS30_000050     40731
NS30_000051      9142
NS30_000052      5959
NS30_000053    102293
NS30_000054     37937
NS30_000055     62317
NS30_000056     77326
NS30_000057     13836
dtype: int64

In [60]:
df3.mean(axis=0)

BB001_A     913.137931
BB001_B     101.258621
BB003_A    1063.413793
BB003_B     517.310345
BB004_A     481.034483
              ...
Neg_F        97.603448
Neg_G       100.103448
Neg_H       104.706897
Neg_I       187.637931
Neg_J       212.620690
Length: 72, dtype: float64

In [61]:
df3.sum(axis=0)/len(df3)

BB001_A     913.137931
BB001_B     101.258621
BB003_A    1063.413793
BB003_B     517.310345
BB004_A     481.034483
              ...
Neg_F        97.603448
Neg_G       100.103448
Neg_H       104.706897
Neg_I       187.637931
Neg_J       212.620690
Length: 72, dtype: float64