In [2]:
import pandas as pd

In [3]:
fileName = "/Users/jtladner/Documents/GitHub/BIO682_Spring2023/Week08_Python-pt5/Demo/demoData.tsv"
df = pd.read_csv(fileName, sep="\t", header=0, index_col=0)

In [4]:
df.head()

,BB001_A,BB001_B,BB003_A,BB003_B,BB004_A,BB004_B,BB005_A,BB005_B,BB006_A,BB006_B,...,BufferOnly_A,BufferOnly_B,BufferOnly_C,BufferOnly_D,BufferOnly_E,BufferOnly_F,BufferOnly_G,BufferOnly_H,BufferOnly_I,BufferOnly_J
Probe,,,,,,,,,,,,,,,,,,,,,
NS30_000000,8828,628,15628,7371,5663,2463,5244,6377,19985,19310,...,73,23,49,17,109,75,54,44,195,498
NS30_000001,120,24,0,0,10,2,3,3,1,1,...,2,0,4,1,2,3,1,3,11,25
NS30_000002,137,36,2029,886,861,340,2559,2861,2068,2195,...,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,3,0,0,0,5,2,3,2,5,2,...,2,0,0,0,4,6,5,6,10,17
NS30_000004,8,10,571,380,136,35,2028,2762,19,10,...,64,14,74,37,126,100,111,103,130,239

In [25]:
# Other ways to get size info

#Get the number of rows: len(df)
print(len(df))

#Get the number of columns: len(df.columns)
print(len(df.columns))

#Get the number of rows and columns: df.shape
print(df.shape)

#Get the number of elements: df.size
print(df.size)

58
72
(58, 72)
4176

# Examples of accessing elements

In [27]:
df["BB001_A"]

Probe
NS30_000000     8828
NS30_000001      120
NS30_000002      137
NS30_000003        3
NS30_000004        8
NS30_000005       90
NS30_000006      270
NS30_000007      213
NS30_000008     1449
NS30_000009       65
NS30_000010       40
NS30_000011       77
NS30_000012      539
NS30_000013      398
NS30_000014       72
NS30_000015        6
NS30_000016       15
NS30_000017     2199
NS30_000018       15
NS30_000019    10159
NS30_000020     3815
NS30_000021       58
NS30_000022     4197
NS30_000023        2
NS30_000024     2862
NS30_000025       15
NS30_000026      142
NS30_000027       32
NS30_000028        1
NS30_000029       19
NS30_000030      597
NS30_000031        2
NS30_000032      305
NS30_000033       15
NS30_000034      116
NS30_000035        0
NS30_000036     5285
NS30_000037      897
NS30_000038      127
NS30_000039       62
NS30_000040       61
NS30_000041       15
NS30_000042      219
NS30_000043        2
NS30_000044      137
NS30_000045        2
NS30_000046        3
NS30_000047        9
NS30_000048      763
NS30_000049     3107
NS30_000050     1045
NS30_000051      154
NS30_000052        1
NS30_000053     2961
NS30_000054      930
NS30_000055      201
NS30_000056       90
NS30_000057       10
Name: BB001_A, dtype: int64

In [28]:
df.loc["NS30_000005"]

BB001_A          90
BB001_B          49
BB003_A         569
BB003_B         250
BB004_A          19
               ...
BufferOnly_F    122
BufferOnly_G    186
BufferOnly_H    101
BufferOnly_I    404
BufferOnly_J    177
Name: NS30_000005, Length: 72, dtype: int64

In [29]:
df.iloc[5]

BB001_A          90
BB001_B          49
BB003_A         569
BB003_B         250
BB004_A          19
               ...
BufferOnly_F    122
BufferOnly_G    186
BufferOnly_H    101
BufferOnly_I    404
BufferOnly_J    177
Name: NS30_000005, Length: 72, dtype: int64

In [32]:
df["BB001_A"]["NS30_000005"]

90

In [31]:
df["BB001_A"][5]

90

In [5]:
newLabels = ["CodeName", "BB001_A", "BB001_B", "BB003_A", "BB003_B", "BB004_A", "BB004_B", "BB005_A", "BB005_B", "BB006_A", "BB006_B", "BB007_A", "BB007_B", "BB008_A", "BB008_B", "BB009_A", "BB009_B", "BB010_A", "BB010_B", "BB012_A", "BB012_B", "BB013_A", "BB013_B", "BB015_A", "BB015_B", "BB017_A", "BB017_B", "BB018_A", "BB018_B", "BB019_A", "BB019_B", "BB020_A", "BB020_B", "BB401_A", "BB401_B", "BB402_A", "BB402_B", "BB403_A", "BB403_B", "BB404_A", "BB404_B", "BB405_A", "BB405_B", "BB406_A", "BB406_B", "BB407_A", "BB407_B", "BB408_A", "BB408_B", "BB409_A", "BB409_B", "BB410_A", "BB410_B", "BB411_A", "BB411_B", "BB412_A", "BB412_B", "BB413_A", "BB413_B", "BB414_A", "BB414_B", "BB415_A", "BB415_B", "Neg_A", "Neg_B", "Neg_C", "Neg_D", "Neg_E", "Neg_F", "Neg_G", "Neg_H", "Neg_I", "Neg_J"]
df2 = pd.read_csv(fileName, sep="\t", header=0, index_col=0, names=newLabels)

In [6]:
df2.head()

,BB001_A,BB001_B,BB003_A,BB003_B,BB004_A,BB004_B,BB005_A,BB005_B,BB006_A,BB006_B,...,Neg_A,Neg_B,Neg_C,Neg_D,Neg_E,Neg_F,Neg_G,Neg_H,Neg_I,Neg_J
CodeName,,,,,,,,,,,,,,,,,,,,,
NS30_000000,8828,628,15628,7371,5663,2463,5244,6377,19985,19310,...,73,23,49,17,109,75,54,44,195,498
NS30_000001,120,24,0,0,10,2,3,3,1,1,...,2,0,4,1,2,3,1,3,11,25
NS30_000002,137,36,2029,886,861,340,2559,2861,2068,2195,...,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,3,0,0,0,5,2,3,2,5,2,...,2,0,0,0,4,6,5,6,10,17
NS30_000004,8,10,571,380,136,35,2028,2762,19,10,...,64,14,74,37,126,100,111,103,130,239

In [8]:
# Make a new dataframe that only contains the negative control samples

negDF = pd.DataFrame()
for col in df2.columns:
    if col.startswith("Neg"):
        negDF[col] = df2[col]

In [9]:
negDF.head()

,Neg_A,Neg_B,Neg_C,Neg_D,Neg_E,Neg_F,Neg_G,Neg_H,Neg_I,Neg_J
CodeName,,,,,,,,,,
NS30_000000,73,23,49,17,109,75,54,44,195,498
NS30_000001,2,0,4,1,2,3,1,3,11,25
NS30_000002,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,2,0,0,0,4,6,5,6,10,17
NS30_000004,64,14,74,37,126,100,111,103,130,239

In [11]:
#Get total read counts for each assay

sums = df2.sum(axis=0)
sums

BB001_A    52962
BB001_B     5873
BB003_A    61678
BB003_B    30004
BB004_A    27900
           ...
Neg_F       5661
Neg_G       5806
Neg_H       6073
Neg_I      10883
Neg_J      12332
Length: 72, dtype: int64

In [13]:
# Normalize the individual counts = relative abundance

norm = df2/sums*1000000
norm.head()

,BB001_A,BB001_B,BB003_A,BB003_B,BB004_A,BB004_B,BB005_A,BB005_B,BB006_A,BB006_B,...,Neg_A,Neg_B,Neg_C,Neg_D,Neg_E,Neg_F,Neg_G,Neg_H,Neg_I,Neg_J
CodeName,,,,,,,,,,,,,,,,,,,,,
NS30_000000,166685.548129,106930.018730,253380.459807,245667.244367,202974.910394,250508.543531,210070.904939,207767.243345,301710.472682,301666.901001,...,22970.421649,30544.488712,14314.928425,10821.133036,19728.506787,13248.542660,9300.723390,7245.183600,17917.853533,40382.744080
NS30_000001,2265.775462,4086.497531,0.000000,0.000000,358.422939,203.417413,120.177863,97.742156,15.096846,15.622315,...,629.326621,0.000000,1168.565586,636.537237,361.990950,529.941706,172.235618,493.989791,1010.750712,2027.246189
NS30_000002,2586.760319,6129.746297,32896.656831,29529.396081,30860.215054,34580.960130,102511.717342,93213.436288,31220.278084,34290.981238,...,125865.324103,98273.572377,110137.306456,103119.032463,123800.904977,123829.712065,109369.617637,99127.284703,98410.364789,110201.102822
NS30_000003,56.644387,0.000000,0.000000,0.000000,179.211470,203.417413,120.177863,65.161437,75.484231,31.244630,...,629.326621,0.000000,0.000000,0.000000,723.981900,1059.883413,861.178092,987.979582,918.864284,1378.527408
NS30_000004,151.051697,1702.707305,9257.758034,12664.978003,4874.551971,3559.804719,81240.235549,89987.945134,286.840079,156.223149,...,20138.451857,18592.297477,21618.463336,23551.877785,22805.429864,17664.723547,19118.153634,16960.316153,11945.235689,19380.473565

In [15]:
# Generate average across replicates
    # Returns a Series

avg = (norm["BB001_A"] + norm["BB001_B"])/2
avg.head()

CodeName
NS30_000000    136807.783429
NS30_000001      3176.136496
NS30_000002      4358.253308
NS30_000003        28.322193
NS30_000004       926.879501
dtype: float64

In [16]:
#Extracting a single value from the series

avg["NS30_000022"]

57075.49825793193

In [18]:
avg.dim()

AttributeError: 'Series' object has no attribute 'dim'

In [19]:
dir(avg)

['NS30_000000',
 'NS30_000001',
 'NS30_000002',
 'NS30_000003',
 'NS30_000004',
 'NS30_000005',
 'NS30_000006',
 'NS30_000007',
 'NS30_000008',
 'NS30_000009',
 'NS30_000010',
 'NS30_000011',
 'NS30_000012',
 'NS30_000013',
 'NS30_000014',
 'NS30_000015',
 'NS30_000016',
 'NS30_000017',
 'NS30_000018',
 'NS30_000019',
 'NS30_000020',
 'NS30_000021',
 'NS30_000022',
 'NS30_000023',
 'NS30_000024',
 'NS30_000025',
 'NS30_000026',
 'NS30_000027',
 'NS30_000028',
 'NS30_000029',
 'NS30_000030',
 'NS30_000031',
 'NS30_000032',
 'NS30_000033',
 'NS30_000034',
 'NS30_000035',
 'NS30_000036',
 'NS30_000037',
 'NS30_000038',
 'NS30_000039',
 'NS30_000040',
 'NS30_000041',
 'NS30_000042',
 'NS30_000043',
 'NS30_000044',
 'NS30_000045',
 'NS30_000046',
 'NS30_000047',
 'NS30_000048',
 'NS30_000049',
 'NS30_000050',
 'NS30_000051',
 'NS30_000052',
 'NS30_000053',
 'NS30_000054',
 'NS30_000055',
 'NS30_000056',
 'NS30_000057',
 'T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_name',
 '_set_value',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']